// Styling for the rounded social media links

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: 1.5rem;
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $primary;
        }
    }
    .cv-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: 1.5rem;
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $primary;
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}

.pasquale-icons {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.pasquale-icons .pasqualetext-icons {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.pasquale-icons:hover .pasqualetext-icons {
    visibility: visible;
}