doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Pasquale Carmine Carbone

        link(rel='icon', type='image/x-icon', href='assets/img/favico.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Pasquale Carmine Carbone
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards
                    li.nav-item
                        a.nav-link(href='https://drive.google.com/open?id=1DbcFP97SrhSM17e469k9-tCOoH6g1qNf') Curriculum
            

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Carbone
                        span.text-primary Pasquale Carmine
                    .subheading.mb-5
                        | Rome, Italy · (+39) 327-0055770 · 
                        a(href='mailto:pasqualecarmine.carbone.com') pasqualecarmine.carbone@gmail.com
                    p.lead.mb-5
                        | Software Engineer with a strong passion for the technology since I was a child.
                        br
                        | I love coding and automation.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/pasquale-carmine-carbone/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/KiraPC')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 ML Software Engineer
                            .subheading.mb-3 Enel Group
                            p
                                | <b>Design and development of an ML Framework for ML Application development on AWS</b>
                                br
                                | The Framework speedup the star-up of new ML applications and its development.
                                br
                                | It adopt the MLOps approach using the Atlassian suite for the Repository Manager (BitBucket) and CI/CD Tool (Bamboo),
                                | and AWS Resources for ML pipelines (StepFunctions, Lambda and Sagemaker).
                                br
                                | It includes also a Catalog that collect all the Framework deliverables. 
                                | It is a serverless application. Use scheduled Lambdas to collect data and store them on AWS ElasticSearch service, that an AWS API Gateway + Lambda call to retrieve stored data and return them to the final client.
                            
                            p
                                | <b>Development of a Common Data Catalog</b>
                                br
                                | The catalog is build with Angular 9 + Material Design, served by a Wildfly server, that also expose APIs to interact with other BE.
                            
                            p
                                | <b>Helping Data Scientist team build ML Models, taking care the application development</b>
                                br
                                | Design and development of scalable API services based on a micro-services architecture.
                                br
                                | FastApi, as Python Framework, is mostly used to build the APIs. The application is deployed on a Kubernetes Cluster via a CI/CD pipeline following the GitFlow.
                                br
                                | Build tools for extracting, transforming, and loading (ETL) jobs on diagnostic data sets.
                                br
                                | Build CI/CD pipelines for building/testing/deployment of custom Python libraries with auto doc generation, using the Atlassian suite.
                        .flex-shrink-0
                            span.text-primary Arpil 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Accenture Technology Solutions
                            
                            p
                                
                                | <b>Design, development and maintenance of a NodeJS application</b>
                                br
                                | A Web Server build following the REST pattern, using Express.js as Framework. 
                                br
                                | The team followed the Agile method and the Design First Developement Pattern.
                                br
                                | Each application funtionality is tested using Chai and Mocha as a Framework.

                            p 
                                | <b>Design and development of a NodeJS Framework to build microservices</b>
                                br
                                | The Framework, with a plugin approach, make developers easy build modular microservices using NodeJS and Express.
                                br
                                | Each plugin is an npm package and represent a REST APIs, so that, plugin can shared and a team can focus on a single API for optimal developments separation.
                                br
                                | TypeScript was chosen because it matched better with the IoC (Inversion of Control) pattern chosen for development.

                            p 
                                | <b>Design and development of Cloud-Native solutions focused on AWS</b>
                                br
                                | Build CI/CD pipeline to deploy serverless application to AWS with Jenkins and SAM (Serverless Application Model).
                                br
                                | Development of a serverless GDPR management using AWS Cloudformation, Lambda, API Gateway and DynamoDB.
                                br
                                | Development of serverless architecture for CloudWatch log streaming to AWS ElasticSearch Service for applications monitoring using Kibana Dashboard.

                            p
                                | <b>PoC on ROS with Turtlebot</b>
                                br
                                | Studying the Robot Operating System (ROS) framework to build a firmware to work with a turtlebot3, in order to use them in possible Customer scenarios (Supply Chain, ...)
                                br
                                | Using AWS RoboMaker service to simulate the application in a managed environment, and for the distribution of firmware on fleets.
                                br
                                | At the end of the PoC the turtlebot3, with the firmware installed on, was able to turn in a room, using a Lidar to map it, and with a camera, rekognize what it saw (using AWS Rekognition).
                        .flex-shrink-0
                            span.text-primary April 2017 - April 2020

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Università Manga Græcia of Catanzaro
                            .subheading.mb-3 Bachelor Degree in Computer and Biomedical Engineering
                            div Thesis title: Definizione e sviluppo di una piattaforma per la comparazione di reti biologiche
                        .flex-shrink-0
                            span.text-primary 2012 - 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Istituto Omnicomprensivo of Filadelfia
                            .subheading.mb-3 Scientific High School
                        .flex-shrink-0
                            span.text-primary 2008 - 2012

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Frameworks
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-java
                    .subheading.mb-3 Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                                i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-jenkins
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fas.fa-dharmachakra
                        li.list-inline-item
                            i.fab.fa-bitbucket
                        li.list-inline-item
                            i.fab.fa-jira
                        li.list-inline-item
                            i.fab.fa-confluence
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum
                        li
                            span.fa-li
                                i.fas.fa-check
                            | DevOps & MLOps
                        li
                            span.fa-li
                                i.fas.fa-check
                            | GitFlow

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I love IT, so I spend some of my free time to learn about new technologies and experiments.
                    p
                        | I also love automation and use my knowledge to help my everyday life tasks. 
                        br
                        | For example I built a NodeJS Server to interact with my LG TV so that I can use my Google Home to do TV actions (that because my TV doesn't support this feature natively).
                    p
                        | I'm also interested to Open Source, and in my small way I'm trying to contribute.
                        br
                        | For example, on my personal GitHub I released an utility library for FastApi Framework and a related boilerplate.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            a(href="https://aw.certmetrics.com/amazon/public/verification.aspx")| (D02CQEEKE2E1QRCF) AWS Certified Developer - Associate
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Certified SAFe 4 Practitioner
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd 
                            | Place - KPN ITV Hackathon - 2019
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Google Cloud Platform Fundamentals: Core Infrastructure

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')